{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/static/feuille_style.css">
</head>

<body>
   {% block content %}
   <style>
      h5{
         text-align: center;
      }
      .card-header{
         text-align: center;
      }
   </style>
   <div class="container">
      <h1 style="color: white; font-family: 'Courier New', Courier, monospace;">Chiffres en détail</h1>
      <br>


      <!-- NE TOUCHE A RIEN JE M'OCCUPE DE CETTE PAGE -->
      <!-- J'INTEGRE LE RESTE PLUS TARD -->

      <!--chiffres en card -->
      <div class="row">
         <div class="col-sm-4">
          
            <div class="card text-bg-primary mb" style="max-width: 18rem;">
               <div class="card-header"><strong>Total d'articles</strong> </div>
               <div class="card-body">
                  <h5 class="card-title">{{ count }}</h5>
               </div>
            </div>
         </div>

         <div class="col-sm-4">
            <div class="card text-bg-success mb-3" style="max-width: 18rem;">
               <div class="card-header"><strong>Prix moyen des articles</strong></div>
               <div class="card-body">
                  <h5 class="card-title">(vide)</h5>
               </div>
            </div>
         </div>

         <div class="col-sm-4">
            <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
               <div class="card-header"><strong>Valeur du stock</strong></div>
               <div class="card-body">
                  <h5 class="card-title"> (vide) </h5>
               </div>
            </div>
         </div>
</div>
         {% endblock %}
</body>

</html>