{% extends 'base.html'%}
{% load static %}

{% block content%}
  <head>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
  </head>
  <body>
    <h1>Ajout d'élément</h1>
    <div class="container myContainer">
      <form class="row g-3" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Nom produit</label>
          <input type="text" class="form-control" id="" name="nomProduit" required>
        </div>

        <div class=" form-outline col-md-6">
          <label for="typeNumber" class="form-label">prix</label>
          <input type="number" min="1" class="form-control" id="" name="prix" required>
        </div>
            
        <div class="mb-3">
          <label for="formFile" class="form-label">Photo</label>
          <input class="form-control" type="file" id="formFile" name="img">
        </div>


        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" placeholder="Décrivez l'article"></textarea>
        </div>

            
        <div class="col-md-4">
          <label for="inputState" class="form-label">Catégorie</label>
          <select id="inputState" class="form-select" name="cProduit" required>
            <option>boxe</option>
            <option>basket</option>
            <option>foot</option>
          </select>
        </div>
                        
        <div class="col-12">
          <button type="submit" class="btn btn-outline-success" name="addItem">Ajouter</button>
        </div>
      </form>
    </div>
  </body>
{% endblock %}
