<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul class="items">
        <li>
          <a href="{% url 'index' %}" id="item1">Statistiques</a>
        </li>
        <li>
          <a href="{% url 'basket' %}" id="item2">Basket</a>
        </li>
        <li>
          <a href="{% url 'foot' %}" id="item3">Football</a>
        </li>
        <li>
          <a href="{% url 'boxe' %}">Boxe</a>
        </li>
        <li class="login-btn">
          <button>
            <a href="{% url 'userLogin' %}"><img src="https://static.vecteezy.com/ti/vecteur-libre/p2/566937-icone-de-personne-gratuit-vectoriel.jpg" alt="Se connecter/S'inscrire"></a>
          </button>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %}

  
  {% endblock %}
<footer>
  <p>Copyright © 2021 Sports website</p>
</footer>
</body>
</html>
