{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block content %}
    <br><br><br><br>
    <!-- TEST FONCTIONNALITE RECHERCHE -->
    <div class="container">
        <h1>Rechercher produit</h1>
        <nav class="navbar" style="background-color: black;">
            <div class="container-fluid" style="background-color: black;">
                <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" type="search" name="search" placeholder="Trouver des articles"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                    <a class="btn btn-outline-success" href="{% url 'add' %}" style="margin-left: 10px;"
                        type="submit">Ajouter</a>

                </form>

            </div>
        </nav>

        {% if post %}
        {% for matos in post %}
        <!-- remplacer p par une card avec image + description et prix du produit -->
        <br><br>
        <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{ matos.nomProduit }}</h5>
                <p class="card-text">Prix : {{matos.prix}}</p>
                <a href="#" class="btn btn-primary">Modifier</a>
            </div>
        </div>
        <br>

        {% endfor %}

        {% else %}
        <br>
        <p style="color:white;"> Article introuvable </p>

        {% endif %}

        <div class="row">
            <div class="container">
                <h3>PRODUITS</h3>
                {% if basketp %}
                {% for product in basketp %}
                <div class="card " style="width: 18rem; margin-left: 20px; margin-top: 20px;">
                    <img src="{% static 'media/test.jpg'%}" class="card-img-top" alt="image"
                        style="margin-left: auto; margin-right: auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{product.nomProduit}}</h5>
                        <p class="card-text">{{product.prix}}</p>
                        <a href="#" class="btn btn-success">modifier</a>
                        <a href="{% url 'deleteItem' id=product.id %}" class="btn btn-danger"
                            style="margin-left: 40px;">supprimer🚮</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <br>
                <p style="color:white;"> Aucun article trouvé</p>

                {% endif %}
            </div>
        </div>
        <br>


    </div>

    {% endblock %}




</body>

</html>