{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}

    <br><br><br>
    <!-- TEST FONCTIONNALITE RECHERCHE -->

    <div class="container">
        <h1>Rechercher produit</h1>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid" style="background-color: black;">
                <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" type="search" name="search" placeholder="Trouver des articles"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
                </form>

            </div>
        </nav>

        {% if post %}

        {% for matos in post %}
        <!-- remplacer p par une card avec image + description et prix du produit -->
        <p style="color:white;">{{matos.nomProduit}} {{matos.prix}}</p>

        {% endfor %}

        {% else %}
        <p style="color:white;"> Article introuvable </p>

        {% endif %}

        <h3>PRODUITS</h3>
    <table>
        <tr>
            <td>Nom</td>
            <td>Prix</td>
        </tr>
        {% for product in boxep %}

        <tr>

            <td>
                {{ product.nomProduit }}
            </td>
            <td>
                {{ product.prix }}
            </td>
            <td>
                {{ product.quantite }}
            </td>


        </tr>
        {% endfor %}

    </table>

     <!-- idée : mettre un bouton a la place puis créer une page pour ajouter les articles -->
     <h1>Ajout de produit</h1>
     <form method="POST">
         <label for="nom">Nom du produit:</label>
         <input type="text" id="nom" name="nom"><br><br>
         <label for="description">Description:</label>
         <textarea id="description" name="description"></textarea><br><br>
         <label for="prix">Prix:</label>
         <input type="number" id="prix" name="prix"><br><br>
         <input type="submit" value="Ajouter">
     </form>
 

    </div>

    {% endblock %}

</body>

</html>