{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
     @keyframes transitionOne {
        from {
            opacity: 0;
            transform: rotateX(-10deg);
        }

        to {
            opacity: 1;
            transform: rotateX(0);
        }
    }

    .container {
        animation: transitionOne 2.5s;
    }
</style>


<body>
    <br><br><br><br>
    {% block content %}
    <br><br><br><br>
    <!-- TEST FONCTIONNALITE RECHERCHE -->
    <div class="container">
        <h1 style="color: white; font-family: 'Courier New', Courier, monospace;">Rechercher produit</h1>
        <nav class="navbar" style="background-color: black;">
            <div class="container-fluid" style="background-color: black;">
                <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" type="search" name="search" placeholder="Trouver des articles"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button><br>
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-success" href="{% url 'add' %}" style="margin-left: 10px;"
                        type="submit">Ajouter</a>
                    {% endif %}
                </form>

            </div>
        </nav>

        {% if post and user.is_authenticated%}
        {% for matos in post %}
        <!-- remplacer p par une card avec image + description et prix du produit -->
        <br><br>
        <div class="card" style="width: 18rem;">
            <img src="{% static matos.img%}" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{ matos.nomProduit }}</h5>
                <p class="card-text" style="color:green"><strong>{{matos.prix}}€</strong> </p>
                <h5 class="card-title">Description : </h5>
                <p class="card-text">{{matos.description}}</p>
               
                <a href="{% url 'edit' id=matos.id %}" class="btn btn-success">Modifier</a>
                <a href="{% url 'deleteItem' id=matos.id %}" class="btn btn-danger"
                    style="margin-left: 40px;">supprimer🚮</a>
               
            </div>
        </div>
        <br>

        {% endfor %}

        {% else %}
        <br>
        <p style="color:white;"> Article introuvable </p>

        {% endif %}

        <div class="row">
            <div class="container">
                <h3 style="color: white; font-family: 'Courier New', Courier, monospace;">Liste des articles</h3>
                {% if produits and user.is_authenticated %}
                {% for product in produits %}
                <div class="card " style="width: 18rem; margin-left: 20px; margin-top: 20px;">
                    <img src="{% static product.img%}" class="card-img-top" alt="image"
                        style="margin-left: auto; margin-right: auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{product.nomProduit}}</h5>
                        <p class="card-text" style="color:green"><strong>{{product.prix}}€</strong></p>
                        <h5 class="card-title">Description : </h5>
                        <p class="card-text">{{product.description}}</p>
                        <a href="{% url 'edit' id=product.id %}" class="btn btn-primary">Modifier</a>
                        <a href="{% url 'deleteItem' id=product.id %}" class="btn btn-danger"
                            style="margin-left: 40px;">supprimer🚮</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <br>
                <p style="color:white;"> Aucun article trouvé</p>

                {% endif %}
            </div>
        </div>

    </div>

    {% endblock %}

</body>

</html>