{% extends 'base.html' %}
{% load static %}


{% block content%}
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
    <body>
        
        <div class="container profilContainer">
            <h3>Informations personnelles</h3><br>
            <p>Prénom: {{ first_name }}</p>
            <p>Nom: {{ last_name }}</p>
            <p>Nom d'utilisateur: {{ username }}</p>
            <p>Email: {{ email }}</p><br>
            <a href="{% url 'updateProfil' %}">Mettre à jour le profil</a>
        </div>
    </body>
{% endblock %}
