<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MISE A JOURS DES INFORMATIONS PERSONNELLES</h1>
    <a href="{% url 'accueil' %}">Accueil</a>
    <a href="{% url 'profil' %}">profil</a>
    <br><br>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="fname">Prénom</label>
            <input id="fname" type="text" name="fname">
        </p>
        <p>
            <label for="lname">Nom</label>
            <input id ="lname" type="name" name="lname">
        </p>
        <p>
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
        </p>
        <p>
            <label for="password">Mot de passe actuel</label>
            <input id ="password" type="passeword" name="password">
        </p>
        <p>
            <label for="newPassword">Nouveau mot de passe</label>
            <input id ="newPassword" type="passeword" name="newPassword">
        </p>
        <p>
            <label for="confirmNewPassword">Confirmer le mot de passe</label>
            <input id ="confirmNewPassword" type="passeword" name="confirmNewPassword">
        </p>
        <button type="submit">Valider</button>
        
    </form>
    {% if messages %}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %}
</body>
</html>
