{% extends 'base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="/static/styleSingup.css">
</head>
<body>
    {% block content %}
    <h1>Se connecter</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">
                <a href="{% url 'signup' %}" style="text-decoration: none; color: black;"> 
                <h4>{{ message }}. Voulez-vous vous inscrire?</h4></a>
                
            </div>

        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Nom d'utilisateur ou Adresse email:</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password">
        </p>
        <button type="submit">Valider</button>
    </form>

    {% endblock %}
</body>
</html>